<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sebastiaan.xenopelthis">

    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.supplier.SupplierEditActivity" />
        <activity android:name=".ui.product.ProductEditActivity" />
        <activity android:name=".ui.product.ProductEditRelationActivity" />
        <activity android:name=".ui.supplier.SupplierEditRelationActivity" />
        <activity android:name=".ui.product.ProductEditBarcodeActivity" />
        <activity android:name=".recognition.Recognitron" />
        <activity android:name=".ui.main.SettingsActivity" />
        <activity android:name=".ui.inventory.InventoryEditActivity" />
        <activity android:name=".ui.inventory.InventoryAddActivity" />
     </application>

</manifest>